body {
    background-color: hsl(0, 0%, 11%);
}

.stack {
    display: inline-flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 33%);
    padding: 5px;
    gap: 1px;
}

.panel {
    background-color: hsl(0, 0%, 33%);
    padding: 5px;
}

.chord-progression {
    display: inline-flex;
    gap: 5px;
}

.chord-icon {
    width: 40;
    background-color: hsl(190, 75%, 60%);
    text-align: center;
    border-radius: 5px;
}

.chord-button {
    width: 45;
    background-color: hsl(190, 75%, 60%);
    border-radius: 5px;
}